# node_module
node_modules
archives
beta
# credentials
#credentials.js
# log
package-lock.json
#*.log
#*.lock

#config
configuration.js
configurationdev.js
configurationbot.js

config.private.ts
config.private.js

config.private.dev.ts
config.private.dev.js

config.private.prod.ts
config.private.prod.js