# node_module
node_modules
archives
beta
# credentials
#credentials.js
# log
package-lock.json
#*.log
#*.lock

#config
configuration.js
configurationdev.js
configurationbot.js

#ecosystem
beta.ecosystem.config.js
prod.ecosystem.config.js
